Architecture: iphoneos-arm
Name: PhotoTorch
Package: com.spicat.phototorch
Version: 1.0
Author: SpicaT
Maintainer: SpicaT
Depends: firmware (>= 6.0), gsc.camera-flash, mobilesubstrate, preferenceloader
Conflicts: org.thebigboss.phototorch
Replaces: org.thebigboss.phototorch
Provides: org.thebigboss.phototorch
Description: adjustable torch for camera app.
Section: Tweaks
